.head {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
}
.head img {
  display: block;
  max-width: 100%;
}
.head-menu li {
  display: inline-block;
  margin: 0 10px;
  padding: 12px 16px;
}
.head-menu a {
  position: relative;
}
.head-menu a::after {
  content: "";
  display: block;
  background: var(--cor-11);
  width: 0%;
  height: 3px;
  position: absolute;
}
.head-menu a:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.head-menu a {
  color: var(--cor-11);
}
.introducao {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 100px;
  gap: 40px;
}
.introducao-titulo {
  padding: 30px;
  align-self: center;
  justify-self: start;
  background: url("../../img/detalhe.svg") no-repeat left top;
}
.introducao img {
  padding-left: 20px;
}
@media (max-width: 800px) {
  .head-menu a:hover::after {
    display: none;
  }
  .head-menu a {
    background-color: var(--cor-2);
    border-radius: 4px;
    padding: 12px 16px;
  }
  .head-menu li {
    padding: 0;
  }
  .introducao-titulo {
    background: url("../../img/detalhe.svg") no-repeat left 15px top 20px;
    background-size: 22%;
  }
}
.introducao-titulo p {
  padding-top: 10px;
}
@media (max-width: 660px) {
  .introducao img {
    object-fit: cover;
  }
}
@media (max-width: 600px) {
  .head-menu li {
    margin: 10px;
    padding: 8px 12px;
  }
  .head-menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  .introducao-titulo {
    place-self: center;
  }
  .head {
    display: grid;
    justify-content: center;
  }
  .head img {
    justify-self: center;
    padding-bottom: 20px;
  }
  .introducao {
    grid-template-columns: 1fr;
    padding-top: 10px;
  }
  .introducao img {
    display: none;
  }
}